.gr{width:100%;height:852px;background:center no-repeat url(../images/gr_bg.jpg);}
.gr_01{width:100%;height:490px;background:center no-repeat url(../images/gr_01_bg.jpg);}
.gr_01_02_bg{width:100%;height:179px;background:center no-repeat url(../images/gr_01_02_bg.jpg);}
.gr_02{width:100%;height:490px;background:center no-repeat url(../images/gr_02_bg.jpg);}
.gr_02_03_bg{width:100%;height:180px;background:center no-repeat url(../images/gr_02_03_bg.jpg);}
.gr_03{width:100%;height:436px;background:center no-repeat url(../images/gr_03_bg.jpg);}
.gr_03_04_bg{width:100%;height:180px;background:center no-repeat url(../images/gr_03_04_bg.jpg);}
.gr_04{width:100%;height:570px;background:center no-repeat url(../images/gr_04_bg.jpg);}
.gr_04_05_bg{width:100%;height:158px;background:center no-repeat url(../images/gr_04_05_bg.jpg);}
.gr_05{width:100%;height:798px;background:center no-repeat url(../images/gr_05_bg.jpg);}